<section id="home">
<h1>Welcome to my site</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quod blanditiis itaque sit officiis natus, quidem, suscipit consequatur ut enim officia voluptatem, cum corrupti. Placeat exercitationem laudantium officia enim totam?</p>
</section>
<section id="about">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quod blanditiis itaque sit officiis natus, quidem, suscipit consequatur ut enim officia voluptatem, cum corrupti. Placeat exercitationem laudantium officia enim totam?</p>
</section>
<section id="service">
    <h1>Service</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quod blanditiis itaque sit officiis natus, quidem, suscipit consequatur ut enim officia voluptatem, cum corrupti. Placeat exercitationem laudantium officia enim totam?</p>
</section>
<section id="contact">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quod blanditiis itaque sit officiis natus, quidem, suscipit consequatur ut enim officia voluptatem, cum corrupti. Placeat exercitationem laudantium officia enim totam?</p>
</section>
